---
layout: default
slides:
  - title: Beatriz Tabuenca
    image: /assets/images/header-1.jpg
    button:
      title: Sobre Mí
      path: sobr.html
  - title: Hago realidad tus ideas
    image: /assets/images/header-1.jpg
    button:
      title: Contacta Conmigo
      path: contacto.html
---
{% include slider.html slides=page.slides %}
<section class="section section-short-top section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>ULTIMOS PROYECTOS</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>INTERIOR AND EXTERIOR ARCHITECTURE</h5>
              <p class="no-margin"> Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="masonry-grid row">
              {% for project in site.data.projects limit:3 %}
              <div class="masonry-grid-item col-md-6"><a href="proyectos/{{project.url}}"><img src="{{project.image}}" alt="{{project.name}}"/>
                  <div class="masonry-item-overlay background-color-3">
                    <div class="masonry-item-overlay-inner aligner">
                      <div class="text-center">
                        <h2>{{project.name}}</h2>
                        <p>{{project.type}}</p><span></span>
                      </div>
                    </div>
                  </div></a></div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-12"><a href="proyectos/" class="btn btn-link">Todos mis proyectos</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-tiny section-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row aligner">
          <div class="col-md-6">
            <div class="text-block"><span>ARCHITEKT</span>
              <h3>AN ARCHITECTURE AGENCY</h3>
              <p class="text-justify">Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under. They're moving years was of.</p><a href="#!" class="btn btn-link btn-link-white margin-top">ABOUT</a>
            </div>
          </div>
          <div class="col-md-6 negative-margin-top-50 text-right small-screen-no-negative-margin small-screen-margin-top"><img src="assets/images/banner-1.png" alt="Banner image" class="center-block"/></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-tiny section-black section-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row aligner">
          <div class="col-md-6 negative-margin-bottom-150 text-left small-screen-no-negative-margin"><img src="assets/images/banner-2.png" alt="Banner image" class="center-block"/></div>
          <div class="col-md-6">
            <div class="text-block"><span>AWARDED AGENCY</span>
              <h3>WE'VE GOT A LOT OF AWARDS</h3>
              <p class="text-justify">Morning above morning wherein give won't gathering Stars under gathered third lights living open creeping. Second above may own made replenish, so let us gathering made dry third itself very all have form likeness whose day us moved winged isn't brought lights air creeping blessed. Said green for give life give made shall he fly likeness whose fowl own don't. So fowl hath. Void creepeth one moving moveth seed. Was herb moving whales moving, saying. Subdue and saw.</p><a href="#!" class="btn btn-link btn-link-white margin-top">SERVICES</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.02</span>
              <h3>BLOG</h3>
            </div>
          </div>
          <div class="col-md-4 margin-top">
            {% for post in site.posts limit:3 %}
            <article class="blog-post">
              <div class="blog-post-info">
                <span><time datetime={{post.date | date: '%Y-%m-%d'}}>{{post.date | date: '%d-%m-%Y'}}</time></span>
              </div>
              <a href="{{post.url}}"><img src="/assets/images/posts/{{post.images.first}}" alt="{{post.title}}"/></a>
              <div class="blog-post-details">
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <p class="text-justify">{{post.excerpt}}</p><a href="{{post.url}}" class="btn btn-link">Leer más</a>
              </div>
              <hr/>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-short section-line-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row desktop-aligner">
          <div class="col-md-8">
            <div class="text-block"><span>DO YOU WANT MORE?</span>
              <h3>CHECK OUT OUR FULL PROJECT LIST</h3>
            </div>
          </div>
          <div class="col-md-4 text-center"><a href="portfolio-masonry.html" class="btn btn-danger">PORTFOLIO</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
