---
layout: default
slides:
  - title: Beatriz Tabuenca
    image: /assets/images/slide-1.jpg
    button:
      title: SOBRE MI
      path: sobre-mi.html
  - title: Hago realidad tus ideas
    image: /assets/images/slide-1.jpg
    button:
      title: CONTACTA CONMIGO
      path: contacto.html
---
{% include slider.html slides=page.slides %}
<section class="section section-short-top section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>ULTIMOS PROYECTOS</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>INTERIOR AND EXTERIOR ARCHITECTURE</h5>
              <p class="no-margin"> Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="masonry-grid row">
              {% for project in site.projects limit:3 %}
              <div class="masonry-grid-item col-md-6"><a href="{{project.url}}"><img src="{{project.image}}" alt="{{project.title}}"/>
                  <div class="masonry-item-overlay background-color-3">
                    <div class="masonry-item-overlay-inner aligner">
                      <div class="text-center">
                        <h2>{{project.title}}</h2>
                        <p>{{project.type}}</p><span></span>
                      </div>
                    </div>
                  </div></a></div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-12"><a href="proyectos/" class="btn btn-link">TODOS MIS PROYECTOS</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-tiny section-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row aligner">
          <div class="col-md-6">
            <div class="text-block"><span>Servicios</span>
              <h3>SERVICIOS</h3>
              <p class="text-justify">Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under. They're moving years was of.</p><a href="#!" class="btn btn-link btn-link-white margin-top">ABOUT</a>
            </div>
          </div>
          <div class="col-md-6 negative-margin-top-50 text-right
            small-screen-no-negative-margin small-screen-margin-top"><img
            src="assets/images/servicios-inicio.jpg" alt="Servicios" class="center-block"/></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.02</span>
              <h3>BLOG</h3>
            </div>
          </div>
          <div class="col-md-4 margin-top">
            {% for post in site.posts limit:3 %}
            <article class="blog-post">
              <div class="blog-post-info">
                <span><time datetime={{post.date | date: '%Y-%m-%d'}}>{{post.date | date: '%d-%m-%Y'}}</time></span>
              </div>
              <a href="{{post.url}}"><img src="/assets/images/posts/{{post.image}}" alt="{{post.title}}"/></a>
              <div class="blog-post-details">
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <p class="text-justify">{{post.excerpt}}</p><a href="{{post.url}}" class="btn btn-link">LEER MAS</a>
              </div>
              <hr/>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
