---
layout: default
services:
  - name: Proyectos de Arquitectura
    icon: house
    description: "Redacción de proyecto básico y de ejecución, elaboración del plan de gestión
    de residuos, certificado de eficiencia energética, certificado final de
    obra, Estudio Básico de Seguridad y Salud, Plan de Seguridad, etc."
  - name: Certificados Energéticos y Otros Documentos
    icon: home
    description: "¿Quiéres alquilar o vender tu casa? Necesitarás un certificado
    de eficiencia energética. Si necesitas cualquier otro documento también te
    lo puedo hacer."
  - name: Gestión de obra
    icon: drbag
    description: "¿Demasiadas gestiones, papeleo, conversaciones con proveedores
    y discusiones con gremios? Habla conmigo y tu proyecto se ejecutará en
    tiempo y sin sobresaltos, te coordino la obra."
  - name: Dirección de obra
    icon: chat2
    description: "Si ya tienes un proyecto y necesitas que alguien lo dirija,
    ponte en contacto conmigo."
  - name: Maquetas
    icon: birdpen
    description: "Con los acabados y precisión que quieras."
  - name: Colaboraciones
    icon: user2
    description: "Ayudo a otros arquitectos a realizar sus proyectos."
---
{% include section-header.html title="SERVICIOS" image="/assets/images/header-3.jpg" %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
        <h3>SERVICIOS</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>LAS HABILIDADES NECESARIAS</h5>
              <p class="no-margin">
              Mis servicios actuales son muy amplios, comprenden muchas ramas de
              la arquitectura: realizo desde proyectos hasta gestión de obra,
              así como documentación, maquetas, colaboraciones, etc.</p>
            </div>
          </div>
          {% for service in page.services %}
          <div class="col-md-4">
            <div class="icon-block"><i class="icon-{{service.icon}}"></i>
              <h4>{{service.name}}</h4>
              <p class="text-justify">{{service.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
