---
layout: default
services:
  - name: Diseño de casas
    icon: house
    description: Hago casas
---
{% include section-header.html title="SERVICIOS" image="/assets/images/header-3.jpg" %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
        <h3>SERVICIOS</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>REMARKABLY PERFECT SKILLS</h5>
              <p class="no-margin"> Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:</p>
            </div>
          </div>
          {% for service in page.services %}
          <div class="col-md-4">
            <div class="icon-block"><i class="icon-{{service.icon}}"></i>
              <h4>{{service.name}}</h4>
              <p class="text-justify">{{service.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-short section-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-6">
            <div class="text-block"><span>ARCHITEKT</span>
              <h3>AN ARCHITECTURE AGENCY</h3>
              <p class="text-justify margin-bottom margin-top">Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under. They're moving years was of.					</p><a href="portfolio-grid.html" class="btn btn-link btn-link-white">PROJECTS</a>
            </div>
          </div>
          <div class="col-md-6 text-right negative-margin-top-100 negative-margin-bottom-100 small-screen-no-negative-margin small-screen-margin-top"><img src="assets/images/banner-3.png" alt="Banner image"/></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.03</span>
              <h3>AWARDS</h3>
            </div>
          </div>
          <div class="col-md-5">
            <div class="text-block">
              <p class="text-justify">Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, <strong>our agency</strong>. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was. Land abundantly above subdue, called hath give fourth.</p><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
            </div>
          </div>
          <div class="col-md-7 text-right small-screen-text-left">
            <div class="row">
              <div class="col-md-4 padding-top small-screen-margin-bottom"><span class="counter award-counter">21</span>
                <div class="text-block margin-top-small">
                  <h4> RIBA AWARDS</h4>
                </div>
              </div>
              <div class="col-md-4 padding-top small-screen-margin-bottom"><span class="counter award-counter">350</span>
                <div class="text-block margin-top-small">
                  <h4> CLIENTS</h4>
                </div>
              </div>
              <div class="col-md-4 padding-top small-screen-margin-bottom"><span class="counter award-counter">987</span>
                <div class="text-block margin-top-small">
                  <h4> PROTOTYPES</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-short section-line-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-head"><span>CLIENTS	</span></div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-3 col-xs-6"><img src="/assets/images/logo1.png" alt="Client Logo" width="150" class="center-block small-screen-margin-top"/></div>
          <div class="col-md-3 col-xs-6"><img src="/assets/images/logo2.png" alt="Client Logo" width="150" class="center-block small-screen-margin-top"/></div>
          <div class="col-md-3 col-xs-6"><img src="/assets/images/logo3.png" alt="Client Logo" width="150" class="center-block small-screen-margin-top"/></div>
          <div class="col-md-3 col-xs-6"><img src="/assets/images/logo4.png" alt="Client Logo" width="150" class="center-block small-screen-margin-top"/></div>
        </div>
      </div>
    </div>
  </div>
</section>
