---
layout: default
title: Sobre Mí
history:
  - year: 2009
    title:
    text: "Me licencié como arquitecta en la Escuela Técnica Superior de
    Arquitectura de la Universidad de Navarra."
  - year: 2010
    title:
    text: "Comencé mi carrera profesional trabajando en un estudio de
    arquitectura, complementándolo con varios cursos de formación."
  - year: 2011
    title:
    text: "Decido comenzar mi carrera profesional independiente.<br />
    Mi trabajo principal se centró en la gestión de obra, donde aprendí sobre
    construcción, trato con el cliente, proveedores y administración.<br />
    Posteriormente amplié mi campo de trabajo, dedicándome también a la
    elaboración de proyectos y dirección de obra."
processes:
  - title: COMUNICACION
    description: "La satisfacción del cliente es siempre mi prioridad y para
    ello la buena comunicación y el entendimiento son fundamentales. Para ello
    paso con el cliente todo el tiempo que sea necesario para que su proyecto
    quede tan personalizado como se quiera."
  - title: MATERIALES
    description: "Usar los más actuales y novedosos materiales en el interior de
    la construcción, y mantener el exterior en armonía con el entorno es también
    parte de mi filosofía de trabajo."
  - title: ADECUACION
    description: "En una rehabilitación, el diseño y la decoración harán de una
    edificación anticuada, un lugar increíble, por ello me gusta estar al día en
    estos aspectos y ayudarte a decidir siempre que tengas una duda."
---
{% include section-header.html title="SOBRE MÍ" image="/assets/images/sobre-mi.jpg" %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>HISTORIA</h3>
            </div>
          </div>
          {% for line in page.history %}
          <div class="col-md-2">
            <div class="story-date">
              <h2>{{line.year}}</h2>
            </div>
          </div>
          <div class="col-md-10 small-screen-margin-top">
            <div class="row">
              <div class="col-md-12">
                <div class="text-block">
                  <h4>{{line.title}}</h4>
                  <p class="text-justify">{{line.text}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 margin-bottom">
            <hr/>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-black"><img src="assets/images/rotate-img-3.png" width="800" alt="Rotated image" class="rotating-reverse rotating-image-3 opacity-01"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.02</span>
              <h3>MÉTODO DE TRABAJO</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>UNA CASA LA HACE CUALQUIERA, PERO NO DEJES QUE TU CASA LA HAGA
              CUALQUIERA</h5>
            </div>
          </div>
          {% for process in page.processes %}
          <div class="col-md-4">
            <div class="process-block"><i class="{{process.icon}}"></i><span>#{{forloop.index}}</span>
              <h3>{{process.title}}</h3>
              <p>{{process.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-short section-line-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row desktop-aligner">
          <div class="col-md-8">
            <div class="text-block"><span>¿QUIERES MÁS?</span>
              <h3>MIRA ALGUNO DE MIS PROYECTOS</h3>
            </div>
          </div>
          <div class="col-md-4 text-center small-screen-margin-top small-screen-text-left"><a href="proyectos/" class="btn btn-danger">PROYECTOS</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
