---
layout: default
title: Sobre Mí
processes:
  - title: COMUNICACION
    description: "La satisfacción del cliente es siempre mi prioridad y para
    ello la buena comunicación y el entendimiento son fundamentales. Para ello
    paso con el cliente todo el tiempo que sea necesario para que su proyecto
    quede tan personalizado como se quiera."
  - title: MATERIALES
    description: "Usar los más actuales y novedosos materiales en el interior de
    la construcción, y mantener el exterior en armonía con el entorno es también
    parte de mi filosofía de trabajo."
  - title: ADECUACION
    description: "En una rehabilitación, el diseño y la decoración harán de una
    edificación anticuada, un lugar increíble, por ello me gusta estar al día en
    estos aspectos y ayudarte a decidir siempre que tengas una duda."
---
{% include section-header.html title="SOBRE MÍ" image="/assets/images/sobre-mi.jpg" %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>HISTORIA</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>HOW WE BEGAN AND OUR TIMELINE</h5>
              <p class="no-margin"> Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="story-date">
              <h2>2015</h2>
            </div>
          </div>
          <div class="col-md-10 small-screen-margin-top">
            <div class="row">
              <div class="col-md-6">
                <div class="text-block">
                  <h4>WE ARE 10 PEOPLE BIGGER NOW</h4>
                  <p class="text-justify">We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.</p>
                </div>
              </div>
              <div class="col-md-6 text-right small-screen-text-left">
                <div class="text-block"><a href="#!" class="btn btn-link">YEAR IN REVIEW</a>
                  <p class="text-justify">But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 margin-bottom">
            <hr/>
          </div>
          <div class="col-md-2">
            <div class="story-date">
              <h2>2013</h2>
            </div>
          </div>
          <div class="col-md-10 small-screen-margin-top">
            <div class="row">
              <div class="col-md-6">
                <div class="text-block">
                  <h4>WE GOT THE FIRST BIG AWARD</h4>
                  <p class="text-justify">We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.</p>
                </div>
              </div>
              <div class="col-md-6 text-right small-screen-text-left">
                <div class="text-block"><a href="#!" class="btn btn-link">YEAR IN REVIEW</a>
                  <p class="text-justify">But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 margin-bottom">
            <hr/>
          </div>
          <div class="col-md-2">
            <div class="story-date">
              <h2>2010</h2>
            </div>
          </div>
          <div class="col-md-10 small-screen-margin-top">
            <div class="row">
              <div class="col-md-6">
                <div class="text-block">
                  <h4>AN ARCHITECTURE AGENCY BORNED</h4>
                  <p class="text-justify">We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.</p>
                </div>
              </div>
              <div class="col-md-6 text-right small-screen-text-left">
                <div class="text-block"><a href="#!" class="btn btn-link">YEAR IN REVIEW</a>
                  <p class="text-justify">But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-black"><img src="assets/images/rotate-img-3.png" width="800" alt="Rotated image" class="rotating-reverse rotating-image-3 opacity-01"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.02</span>
              <h3>PROCESO</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>EL METODO DE TRABAJO</h5>
              <p class="no-margin">Cualquiera hace una casa, pero no dejes que tu casa la haga cualquiera.
            </div>
          </div>
          {% for process in page.processes %}
          <div class="col-md-4">
            <div class="process-block"><i class="{{process.icon}}"></i><span>#{{forloop.index}}</span>
              <h3>{{process.title}}</h3>
              <p>{{process.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-short section-line-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row desktop-aligner">
          <div class="col-md-8">
            <div class="text-block"><span>¿QUIERES MÁS?</span>
              <h3>MIRA ALGUNO DE MIS PROYECTOS</h3>
            </div>
          </div>
          <div class="col-md-4 text-center small-screen-margin-top small-screen-text-left"><a href="proyectos/" class="btn btn-danger">PROYECTOS</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
