---
layout: default
title: Proyectos
---
{% include section-header.html title="PROYECTOS" image="/assets/images/proyectos.jpg" %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>MIS PROYECTOS</h3>
            </div>
          </div>
          <div class="col-md-12 padded">
            <div class="text-block">
              <h5>Últimos proyectos de arquitectura</h5>
              <p class="no-margin">Para recoger ideas o ver cómo trabajo</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="masonry-grid row">
              {% for project in site.projects | sort: date%}
              <div class="masonry-grid-item col-md-6"><a href="{{project.url}}"><img src="{{project.image}}" alt="{{project.title}}"/>
                  <div class="masonry-item-overlay background-color-3">
                    <div class="masonry-item-overlay-inner aligner">
                      <div class="text-center">
                        <h2>{{project.title}}</h2>
                        <p>{{project.location}}</p><span></span>
                      </div>
                    </div>
                  </div></a></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
