<footer class="container-fluid relative">
  <div class="row">
    <div class="footer-aligner"><img src="/assets/images/logo/logo-white.png" width="50" alt="Footer logo" class="footer-logo img-circle"/>
      <div class="col-md-9 footer-line-left">
        <div class="padding-footer">
          <div class="text-block footer header alternative">
            <h3>BEATRIZ TABUENCA</h3>
            <p>Arquitecto en Albarracín, Teruel</p>
            <a href="sobre-mi.html" class="btn btn-link btn-link-white">SOBRE MI</a>
          </div>
          <div class="text-block margin-top-big">
            <p class="copyright">Nacho García &copy; 2016 &middot; <a href="https://www.linkedin.com/in/beatriz-tabuenca-juste-075299108" rel="nofollow">LINKEDIN</a> <a href="contact.html">CONTACTO</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/packages.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script><script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/js/slider-initialization.js"></script>
<script type="text/javascript" src="/assets/js/revslider-extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/revslider-extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/revslider-extensions/revolution.extension.navigation.min.js"></script>
