<div style="background-image: url({{include.image}})" class="container-fluid relative background-image-center">
  <div class="section-overlay"></div>
  <div class="row">
    <div class="height-50 aligner"><a href="#section-to-scroll" class="scroll-down-icon">SCROLL</a>
      <div class="col-md-6 line-left">
        <div class="text-block header alternative">
          <h1>{{include.title}}</h1>
        </div>
      </div>
      <div class="col-md-3 line-left">
        <div class="text-block alternative">
          <div class="line-thick"></div>
        </div>
        <div class="header-secondary"> <a href="/">INICIO </a><span>/ {{include.title}}</span></div>
      </div>
    </div>
  </div>
</div>
