---
layout: default
---
{% include section-header.html title="BLOG" image="/assets/images/blog.jpg" %}
<section id="section-to-scroll" class="section section-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.02</span>
              <h3>BLOG</h3>
            </div>
          </div>
          {% for post in paginator.posts %}
          <div class="col-md-4">
            <article class="blog-post">
              <div class="blog-post-info">
                <span><time datetime={{post.date | date: '%Y-%m-%d'}}>{{post.date | date: '%d-%m-%Y'}}</time></span>
              </div>
              <a href="{{post.url}}"><img src="/assets/images/posts/{{post.image}}" alt="{{post.title}}"/></a>
              <div class="blog-post-details">
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <p class="text-justify">{{post.excerpt}}</p><a href="{{post.url}}" class="btn btn-link">Leer más</a>
              </div>
              <hr/>
            </article>
          </div>
          {% endfor %}
          <div class="col-md-12">
            <ul class="pagination">
              {% if paginator.previous_page %}}
                {% if paginator.previous_page == 1 %}
                  <li><a href="/blog/">1</a></li>
                {% else %}
                  <li><a href="{{paginator.previous_page}}">{{paginator.previous_page}}</a></li>
                {% endif %}
              {% endif %}
              {% if paginator.page == 1 %}
                  <li><a href="/blog/">1</a></li>
                {% else %}
                  <li><a href="{{paginator.page}}">{{paginator.page}}</a></li>
                {% endif %}
              {% if paginator.next_page %}}<li><a href="{{paginator.next_page}}">{{paginator.next_page}}</a></li>{% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
