---
layout: default
---
{% include section-header.html title=page.title image="../../../assets/images/header-6.jpg" %}
{% include share.html %}
<section id="section-to-scroll" class="section section-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <ul class="post-social">
            <li><a href="{{twitter}}">TWITTER</a></li>
            <li><a href="{{facebook}}">FACEBOOK</a></li>
            <li><a href="{{gplus}}">GOOGLE PLUS</a></li>
          </ul>
        </div>
        <div class="col-md-12 margin-top-small margin-bottom-small"><hr/></div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <article class="blog-post">
              <div class="blog-post-info">
                <img src="{{site.url}}/assets/images/posts/{{page.image-big}}" alt="{{page.title}}"/></div>
              <div class="blog-post-single-details col-md-8 col-md-offset-2">
                <h2>{{page.title}}</h2>
                {{content}}
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
