---
layout: default
---
{% include section-header.html title=page.title image="/assets/images/proyectos.jpg" %}
{% include share.html %}
<section id="section-to-scroll" class="section section-semi-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head"><span>.01</span>
              <h3>{{page.title}}</h3>
            </div>
          </div>
          <div class="col-md-4 padded">
            <div class="text-block">
              <p class="no-margin">{{content}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="icon-block"><i class="icon-setting3"></i>
                  <h4>UBICACIÓN</h4>
                  <p class="text-justify">{{page.location}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="icon-block"><i class="icon-user1"></i>
                  <h4>CLIENTE</h4>
                  <p class="text-justify">{{page.client}}</p>
                </div>
              </div>
            </div>
          </div>
          {% for image in page.images-big %}
          <div class="col-md-12 margin-top"><img src="{{image}}" alt="{{page.title}}"/></div>
          {% endfor %}
          {% if page.quote %}
          <div class="col-md-6 col-md-offset-3 margin-top-big">
            <blockquote>{{page.quote.text}}<small>{{page.quote.author}}</small></blockquote>
          </div>
          {% endif %}
          {% for image in page.images-zoom %}
          <div class="col-md-4 margin-top">
            <div class="zoom-gallery"><a href="{{image}}" data-source="{{image}}"><img src="{{image}}" alt="{{page.title}}"/></a></div>
          </div>
          {% endfor %}
          <div class="col-md-12 margin-top">
            <ul class="work-post-social">
              <li><a href="{{twitter}}">TWITTER</a></li>
              <li><a href="{{facebook}}">FACEBOOK</a></li>
              <li><a href="{{gplus}}">GOOGLE PLUS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
